<html>
    <head>
        <title>Criar Conta</title>
    </head>
    <body>
        <h1>Criar Conta</h1>
        <form method="POST">
            {{ form.csrf_token() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username() }}
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email() }}
                {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password() }}
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.confirm_password.label }}<br>
                {{ form.confirm_password() }}
                {% for error in form.confirm_password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit_button() }}</p>
        </form>
    </body>
</html>