{% extends "index.html" %}

{% block title %}
Perfil do usuário {{ user }}
{% endblock %}

{% block body %}
<body>
    <h1>Perfil do usuário {{ user.username }}</h1>
    <p>Bem-vindo ao seu perfil, {{ user.username }}!</p>
    <a href="{{ url_for('logout') }}">Sair</a> <!-- Outra forma de redirecionamento href="{{ url_for ('index') }} -->
    
    <a href="{{ url_for('excluir_conta') }}" onclick="return confirm('Tem certeza que deseja excluir sua conta? Esta ação não pode ser desfeita.');">Excluir Conta</a>

    {% for f in user.fotos %}
        <div>
            <img src="">
        </div>
    {% endfor %}
{% endblock %}