BOT_NAME=Bot do WhatsApp
BOT_TIMEZONE=America/Sao_Paulo
PYWHATKIT_WAIT_TIME=15
PYWHATKIT_CLOSE_TAB=false
PYWHATKIT_CLOSE_TIME=3
WHATSAPP_WEB_SESSION_DIR=whatsapp_session
DEFAULT_COUNTRY_CODE=+55
CONTACT_SEND_DELAY=5
